<div class="app">
  <div class="large-4 columns">
    {{ partial "charactersMenu" }}
  </div>

  <div class="large-4 columns">
    {{ render "initiative" }}
  </div>

  <div class="large-4 columns">
    {{ outlet }}
  </div>
</div>
