h1, h2, h3, h4, h5
  color: #222

h3.initiative
  color: #F00

h3.characters
  color: orange

.button
  min-width: 300px

li
  list-style-type: none
  color: #222

a
  color: #fff

.initiative
  color: #2BA6CB
  min-width: 400px

.panel.initiative button
  padding: 4px
  min-width: 1em
  margin-left: 20px
  float: right

.initiative .attribute
  color:  #2BA6CB
  padding-left: 15px

.button.active
  color: yellow

a.active .panel
  color: orange

.panel  a
  color: #2BA6CB
  padding-left: 20px

.panel h3
  color: #555

.panel button
  min-width: 140px
  padding: 10px 30px 10px 30px
