
%script{type: "text/x-handlebars", id: "application" }
  .row
    .large-12.columns
      %hr
      {{ outlet }}

%script{type: "text/x-handlebars", id: "characters"}
  .row
    .large-4.columns
      {{ partial "charactersMenu" }}
    .large-5.columns
      {{render 'initiative' }}
    .large-3.columns
      {{ outlet }}

%script{type: "text/x-handlebars", id: "_charactersMenu"}
  %h3 Characters
  {{ view Ember.TextField id="new-character" placeholder="Create a new Character" valueBinding="newName" action="createCharacter" }}
  %ul
    {{#each character in controller}}
    %li {{#linkTo "character" character class="button"}}  {{ character.name }} {{/linkTo}}
    {{/each}}

%script{type: "text/x-handlebars", id:"character"}
  .row
    .large-6.columns
      %h3 {{ name }}
  .row
    .large-6.columns
      %ul
        %li HP: {{ hp }}
        %li Str: 10
        %li Agi: 13
        %li Con: 13
        %li Per: 13
        %li Int: 13
        %li Luck: 13

    .large-6.columns
      %ul
        %li AC: {{ ac }}
        %li Init Score: {{ init_score }}

%script{type: "text/x-handlebars", id:"initiative"}
  .row
    .large-8
      %h3 Initiative
      %ul
        {{#each character in controller}}
        {{#linkTo "character" character class="initiative"}}
        %li.panel.initiative <small>{{ character.init_score }}</small> {{ character.name }}
        {{/linkTo}}
        {{ else }}
        %h5 Drag a Character over to add it to Initiative
        {{/each}}

