
%script{type: "text/x-handlebars", id: "application" }
  .row
    .large-12.columns
      %hr
      {{ outlet }}

%script{type: "text/x-handlebars", id: "characters"}
  .row
    .large-4.columns
      {{ partial "charactersMenu" }}
    .large-5.columns
      {{render 'initiative' }}
    .large-3.columns
      {{ outlet }}

%script{type: "text/x-handlebars", id: "_charactersMenu"}
  %h3.characters Characters
  {{ view Ember.TextField id="new-character" placeholder="Create a new Character" valueBinding="newName" action="createCharacter" }}
  .panel
    %ul
      {{#each character in controller}}
      %li
        <button {{action addToInitiative character target="controller"}}>
        {{ character.name }}
        </button>
        {{#linkTo "character" character class=""}} Show {{/linkTo}}
      {{/each}}

%script{type: "text/x-handlebars", id:"character"}
  .panel
    .row
      .large-12.columns
        %h3 {{ name }}

    .row
      .large-12.columns
        %h6 lvl {{ level }} {{ playerClass }}
    .row
      .large-12.columns
        %span Occupation: {{ occupation }}
    .row
      .large-12.columns
        %hr
    .row
      .large-6.columns
        %ul
          %li HP: {{ hp }}
          %li AC: {{ ac }}
      .large-6.columns
        %ul
          %li Speed: {{ speed }}
          %li Init: {{ initMod }}
          %li alignment: {{ alignment }}
    .row
      .large-12.columns
        %hr
    .row
      .large-12.columns
        %ul
          %li Str: {{ strength }}
          %li Agi: {{ agility }}
          %li Sta: {{ stamina }}
          %li Per: {{ personality }}
          %li Int: {{ intelligence }}
          %li Luck: {{ luck }}
          %li Lucky Roll: {{ luckyRoll }}
%script{type: "text/x-handlebars", id:"initiative"}
  .row
    .large-8
      %h3.initiative Initiative
      %ul
        {{#each character in controller}}
        {{#linkTo "character" character class="initiative"}}
        %li.panel.initiative
          <small>{{ character.initScore }}</small> {{ character.name }}
          <span class="attribute">HP: {{ character.hp }}</span>
          <span class="attribute">AC: {{ character.ac }}</span>
          <span class="attribute">R/F/W: {{ character.reflex }} {{ character.fortitude }} {{ character.will }}</span>
          <button class="small" {{action removeFromInitiative character}}>X</button>
        {{/linkTo}}
        {{ else }}
        %h5 Drag a Character over to add it to Initiative
        {{/each}}

